<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>171325323640-ssj8f5uavrkp9h12v0b943l54fnkif0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171325323640-ssj8f5uavrkp9h12v0b943l54fnkif0q</string>
	<key>API_KEY</key>
	<string>AIzaSyCgq0U2rBAzCuIWDK_Ybr_Q08GzL7uRydg</string>
	<key>GCM_SENDER_ID</key>
	<string>171325323640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RJT.Firebase-Roader-Demo</string>
	<key>PROJECT_ID</key>
	<string>fir-roader-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-roader-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171325323640:ios:69330ffb6c427250</string>
	<key>DATABASE_URL</key>
	<string>https://fir-roader-demo.firebaseio.com</string>
</dict>
</plist>